
Source/*.suo
Source/OscarBrouwer.Framework/*.user
Source/OscarBrouwer.Framework/*.Cache
Source/OscarBrouwer.Framework/bin/
Source/OscarBrouwer.Framework/obj/
Source/OscarBrouwer.Framework.Entities/*.user
Source/OscarBrouwer.Framework.Entities/*.Cache
Source/OscarBrouwer.Framework.Entities/bin/
Source/OscarBrouwer.Framework.Entities/obj/
Source/OscarBrouwer.Framework.Entities.EntityFramework/*.user
Source/OscarBrouwer.Framework.Entities.EntityFramework/*.Cache
Source/OscarBrouwer.Framework.Entities.EntityFramework/bin/
Source/OscarBrouwer.Framework.Entities.EntityFramework/obj/
Source/OscarBrouwer.Framework.Entities.LinqToSql/*.user
Source/OscarBrouwer.Framework.Entities.LinqToSql/*.Cache
Source/OscarBrouwer.Framework.Entities.LinqToSql/bin/
Source/OscarBrouwer.Framework.Entities.LinqToSql/obj/
Source/OscarBrouwer.Framework.ServiceModel/*.user
Source/OscarBrouwer.Framework.ServiceModel/*.Cache
Source/OscarBrouwer.Framework.ServiceModel/bin/
Source/OscarBrouwer.Framework.ServiceModel/obj/
Source/OscarBrouwer.Framework.Testing/*.user
Source/OscarBrouwer.Framework.Testing/*.Cache
Source/OscarBrouwer.Framework.Testing/bin/
Source/OscarBrouwer.Framework.Testing/obj/
Source/OscarBrouwer.Framework.Validation/*.user
Source/OscarBrouwer.Framework.Validation/*.Cache
Source/OscarBrouwer.Framework.Validation/bin/
Source/OscarBrouwer.Framework.Validation/obj/
Source/Test/FrameworkTestApp/bin/
Source/Test/FrameworkTestApp/obj/
Source/Test/OscarBrouwer.Framework.Tests/*.user
Source/Test/OscarBrouwer.Framework.Tests/*.Cache
Source/Test/OscarBrouwer.Framework.Tests/bin/
Source/Test/OscarBrouwer.Framework.Tests/obj/
Source/Test/OscarBrouwer.Framework.Entities.Tests/*.user
Source/Test/OscarBrouwer.Framework.Entities.Tests/*.Cache
Source/Test/OscarBrouwer.Framework.Entities.Tests/bin/
Source/Test/OscarBrouwer.Framework.Entities.Tests/obj/
/Releases/Microsoft.Practices.EnterpriseLibrary.Validation.dll
/Releases/Microsoft.Practices.EnterpriseLibrary.Validation.xml
/Releases/OscarBrouwer.Framework.Entities.EntityFramework.dll
/Releases/OscarBrouwer.Framework.Entities.EntityFramework.xml
/Releases/OscarBrouwer.Framework.Entities.LinqToSql.v3.5.dll
/Releases/OscarBrouwer.Framework.Entities.LinqToSql.v3.5.xml
/Releases/OscarBrouwer.Framework.Entities.LinqToSql.v4.0.dll
/Releases/OscarBrouwer.Framework.Entities.LinqToSql.v4.0.xml
/Releases/OscarBrouwer.Framework.Entities.dll
/Releases/OscarBrouwer.Framework.Entities.xml
/Releases/OscarBrouwer.Framework.ServiceModel.dll
/Releases/OscarBrouwer.Framework.ServiceModel.xml
/Releases/OscarBrouwer.Framework.Testing.dll
/Releases/OscarBrouwer.Framework.Testing.xml
/Releases/OscarBrouwer.Framework.Validation.dll
/Releases/OscarBrouwer.Framework.Validation.xml
/Releases/OscarBrouwer.Framework.dll
/Releases/OscarBrouwer.Framework.xml
/Releases/Release Notes.txt
Release.bat
Source/TestResults/