Source/*.suo
Source/*.sdf
Source/*.Cache
Source/Enkoni.Documentation.shfbproj_Oscar
Source/Enkoni.Framework/*.user
Source/Enkoni.Framework/*.Cache
Source/Enkoni.Framework/bin/
Source/Enkoni.Framework/obj/
Source/Enkoni.Framework.Entities/*.user
Source/Enkoni.Framework.Entities/*.Cache
Source/Enkoni.Framework.Entities/bin/
Source/Enkoni.Framework.Entities/obj/
Source/Enkoni.Framework.Entities.Database/*.user
Source/Enkoni.Framework.Entities.Database/*.Cache
Source/Enkoni.Framework.Entities.Database/bin/
Source/Enkoni.Framework.Entities.Database/obj/
Source/Enkoni.Framework.Entities.File/*.user
Source/Enkoni.Framework.Entities.File/*.Cache
Source/Enkoni.Framework.Entities.File/bin/
Source/Enkoni.Framework.Entities.File/obj/
Source/Enkoni.Framework.Entities.Service/*.user
Source/Enkoni.Framework.Entities.Service/*.Cache
Source/Enkoni.Framework.Entities.Service/bin/
Source/Enkoni.Framework.Entities.Service/obj/
Source/Enkoni.Framework.Logging/*.user
Source/Enkoni.Framework.Logging/*.Cache
Source/Enkoni.Framework.Logging/bin/
Source/Enkoni.Framework.Logging/obj/
Source/Enkoni.Framework.ServiceModel/*.user
Source/Enkoni.Framework.ServiceModel/*.Cache
Source/Enkoni.Framework.ServiceModel/bin/
Source/Enkoni.Framework.ServiceModel/obj/
Source/Enkoni.Framework.Testing/*.user
Source/Enkoni.Framework.Testing/*.Cache
Source/Enkoni.Framework.Testing/bin/
Source/Enkoni.Framework.Testing/obj/
Source/Enkoni.Framework.UI/*.user
Source/Enkoni.Framework.UI/*.Cache
Source/Enkoni.Framework.UI/bin/
Source/Enkoni.Framework.UI/obj/
Source/Enkoni.Framework.Validation/*.user
Source/Enkoni.Framework.Validation/*.Cache
Source/Enkoni.Framework.Validation/bin/
Source/Enkoni.Framework.Validation/obj/
Source/packages
Source/Test/Enkoni.Framework.Tests/*.user
Source/Test/Enkoni.Framework.Tests/*.Cache
Source/Test/Enkoni.Framework.Tests/bin/
Source/Test/Enkoni.Framework.Tests/obj/
Source/Test/Enkoni.Framework.Tests.Addition/*.user
Source/Test/Enkoni.Framework.Tests.Addition/*.Cache
Source/Test/Enkoni.Framework.Tests.Addition/bin/
Source/Test/Enkoni.Framework.Tests.Addition/obj/
Source/Test/Enkoni.Framework.Tests.Common/*.user
Source/Test/Enkoni.Framework.Tests.Common/*.Cache
Source/Test/Enkoni.Framework.Tests.Common/bin/
Source/Test/Enkoni.Framework.Tests.Common/obj/
Source/Test/Enkoni.Framework.Entities.Tests/*.user
Source/Test/Enkoni.Framework.Entities.Tests/*.Cache
Source/Test/Enkoni.Framework.Entities.Tests/bin/
Source/Test/Enkoni.Framework.Entities.Tests/obj/
Source/Test/Enkoni.Framework.UI.Tests/*.user
Source/Test/Enkoni.Framework.UI.Tests/*.Cache
Source/Test/Enkoni.Framework.UI.Tests/bin/
Source/Test/Enkoni.Framework.UI.Tests/obj/
Source/Test/Enkoni.Framework.Validation.Tests/*.user
Source/Test/Enkoni.Framework.Validation.Tests/*.Cache
Source/Test/Enkoni.Framework.Validation.Tests/bin/
Source/Test/Enkoni.Framework.Validation.Tests/obj/
Source/TestResults/
/Releases/*.dll
/Releases/*.xml
/Releases/*.XML
/Releases/*.txt
/Releases/*.zip
/Releases/Documentation/
/WorkingDir
Release.bat
Build.log