
Source/*.suo
Source/*.sdf
Source/OscarBrouwer.Framework/*.user
Source/OscarBrouwer.Framework/*.Cache
Source/OscarBrouwer.Framework/bin/
Source/OscarBrouwer.Framework/obj/
Source/OscarBrouwer.Framework.Entities/*.user
Source/OscarBrouwer.Framework.Entities/*.Cache
Source/OscarBrouwer.Framework.Entities/bin/
Source/OscarBrouwer.Framework.Entities/obj/
Source/OscarBrouwer.Framework.ServiceModel/*.user
Source/OscarBrouwer.Framework.ServiceModel/*.Cache
Source/OscarBrouwer.Framework.ServiceModel/bin/
Source/OscarBrouwer.Framework.ServiceModel/obj/
Source/OscarBrouwer.Framework.Testing/*.user
Source/OscarBrouwer.Framework.Testing/*.Cache
Source/OscarBrouwer.Framework.Testing/bin/
Source/OscarBrouwer.Framework.Testing/obj/
Source/OscarBrouwer.Framework.Validation/*.user
Source/OscarBrouwer.Framework.Validation/*.Cache
Source/OscarBrouwer.Framework.Validation/bin/
Source/OscarBrouwer.Framework.Validation/obj/
Source/Test/FrameworkTestApp/bin/
Source/Test/FrameworkTestApp/obj/
Source/Test/OscarBrouwer.Framework.Tests/*.user
Source/Test/OscarBrouwer.Framework.Tests/*.Cache
Source/Test/OscarBrouwer.Framework.Tests/bin/
Source/Test/OscarBrouwer.Framework.Tests/obj/
Source/Test/OscarBrouwer.Framework.Entities.Tests/*.user
Source/Test/OscarBrouwer.Framework.Entities.Tests/*.Cache
Source/Test/OscarBrouwer.Framework.Entities.Tests/bin/
Source/Test/OscarBrouwer.Framework.Entities.Tests/obj/
Source/Test/OscarBrouwer.Framework.Validation.Tests/*.user
Source/Test/OscarBrouwer.Framework.Validation.Tests/*.Cache
Source/Test/OscarBrouwer.Framework.Validation.Tests/bin/
Source/Test/OscarBrouwer.Framework.Validation.Tests/obj/
/Releases/*.dll
/Releases/*.xml
/Releases/*.txt
Release.bat
Source/TestResults/