<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <extensions>
      <behaviorExtensions>
        <add name="schemaValidation" type="Enkoni.Framework.ServiceModel.SchemaValidationBehaviorExtensionElement, Enkoni.Framework.ServiceModel"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <serviceMetadata httpGetEnabled="true"/>
        </behavior>
      </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="schemavalidation_disabled">
          <schemaValidation enabled="false" schema="resource://" />
        </behavior>
        <behavior name="schemavalidation_resource">
          <schemaValidation schema="resource://Enkoni.Framework.ServiceModel.Tests.TestDataContract.xsd, Enkoni.Framework.ServiceModel.Tests" />
        </behavior>
        <behavior name="schemavalidation_file">
          <schemaValidation enabled="true" schema="TestDataContract.xsd" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBindingConfig">
          <security mode="None" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="Enkoni.Framework.ServiceModel.Tests.TestService">
        <endpoint address="test_default" binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingConfig"
          contract="Enkoni.Framework.ServiceModel.Tests.ITestService" />
        <endpoint address="test_disabled" behaviorConfiguration="schemavalidation_disabled"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingConfig"
          contract="Enkoni.Framework.ServiceModel.Tests.ITestService" />
        <endpoint address="test_resource" behaviorConfiguration="schemavalidation_resource"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingConfig"
          contract="Enkoni.Framework.ServiceModel.Tests.ITestService" />
        <endpoint address="test_file" behaviorConfiguration="schemavalidation_file"
          binding="basicHttpBinding" bindingConfiguration="BasicHttpBindingConfig"
          contract="Enkoni.Framework.ServiceModel.Tests.ITestService" />
      </service>
    </services>
  </system.serviceModel>
</configuration>