<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Enkoni.Validators" type="Enkoni.Framework.Validation.Validators.Configuration.ValidatorsSection, Enkoni.Framework.Validation"/>
    <section name="Enkoni.Validators.TestCase01" type="Enkoni.Framework.Validation.Validators.Configuration.ValidatorsSection, Enkoni.Framework.Validation"/>
    <section name="Enkoni.Validators.TestCase02" type="Enkoni.Framework.Validation.Validators.Configuration.ValidatorsSection, Enkoni.Framework.Validation"/>
    <section name="Enkoni.Validators.TestCase03" type="Enkoni.Framework.Validation.Validators.Configuration.ValidatorsSection, Enkoni.Framework.Validation"/>
  </configSections>

  <Enkoni.Validators>
    <DutchPhoneNumberValidator>
      <areaCodes>
        <clear/>
        <add areaCode ="010"/>
        <add areaCode ="020"/>
        <add areaCode ="058"/>
        <remove areaCode ="020"/>
        <add areaCode ="0519"/>
      </areaCodes>
    </DutchPhoneNumberValidator>
  </Enkoni.Validators>
  
  <Enkoni.Validators.TestCase01>
    <DutchPhoneNumberValidator allowCountryCallingCode="false" allowCarrierPreselect="true">
      <areaCodes>
        <add areaCode ="0123"/>
      </areaCodes>
    </DutchPhoneNumberValidator>
  </Enkoni.Validators.TestCase01>
  
  <Enkoni.Validators.TestCase02>
    <DutchPhoneNumberValidator allowCountryCallingCode="true">
      <areaCodes>
        <clear/>
        <add areaCode ="0123"/>
      </areaCodes>
    </DutchPhoneNumberValidator>
  </Enkoni.Validators.TestCase02>
      
  <Enkoni.Validators.TestCase03>
    <DutchPhoneNumberValidator allowCountryCallingCode="false" allowCarrierPreselect="false">
      <areaCodes>
        <remove areaCode ="058"/>
      </areaCodes>
    </DutchPhoneNumberValidator>
  </Enkoni.Validators.TestCase03>
    
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>