<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Enkoni.Validators" type="Enkoni.Framework.Validation.Validators.Configuration.ValidatorsSection, Enkoni.Framework.Validation"/>
    <section name="Enkoni.Validators.TestCase01" type="Enkoni.Framework.Validation.Validators.Configuration.ValidatorsSection, Enkoni.Framework.Validation"/>
    <section name="Enkoni.Validators.TestCase02" type="Enkoni.Framework.Validation.Validators.Configuration.ValidatorsSection, Enkoni.Framework.Validation"/>
    <section name="Enkoni.Validators.TestCase03" type="Enkoni.Framework.Validation.Validators.Configuration.ValidatorsSection, Enkoni.Framework.Validation"/>
    <section name="Enkoni.Validators.TestCase04" type="Enkoni.Framework.Validation.Validators.Configuration.ValidatorsSection, Enkoni.Framework.Validation"/>
    <section name="Enkoni.Validators.TestCase05" type="Enkoni.Framework.Validation.Validators.Configuration.ValidatorsSection, Enkoni.Framework.Validation"/>
    <section name="Enkoni.Validators.TestCase06" type="Enkoni.Framework.Validation.Validators.Configuration.ValidatorsSection, Enkoni.Framework.Validation"/>
    <section name="Enkoni.Validators.TestCase07" type="Enkoni.Framework.Validation.Validators.Configuration.ValidatorsSection, Enkoni.Framework.Validation"/>
  </configSections>

  <Enkoni.Validators>
    <DutchPhoneNumberValidator>
      <areaCodes>
        <clear/>
        <add areaCode="010" />
        <add areaCode="020" />
        <add areaCode="058" />
        <remove areaCode="020" />
        <add areaCode="0519" />
      </areaCodes>
    </DutchPhoneNumberValidator>
    <DutchPhoneNumberValidator name="Custom Validator">
      <areaCodes>
        <remove areaCode="058" />
      </areaCodes>
    </DutchPhoneNumberValidator>
    <EmailValidator>
      <excludeDomains>
        <domain pattern="*.baddomain.org" />
        <domain pattern="168.1.*" />
      </excludeDomains>
    </EmailValidator>
    <EmailValidator name="Custom Validator" allowComments="true" allowIPAddresses="true">
      <includeDomains>
        <domain pattern="127.251.*" />
      </includeDomains>
    </EmailValidator>
  </Enkoni.Validators>
  
  <Enkoni.Validators.TestCase01>
    <DutchPhoneNumberValidator allowCountryCallingCode="false" allowCarrierPreselect="true">
      <areaCodes>
        <add areaCode="0123" />
      </areaCodes>
    </DutchPhoneNumberValidator>
  </Enkoni.Validators.TestCase01>
  
  <Enkoni.Validators.TestCase02>
    <DutchPhoneNumberValidator allowCountryCallingCode="true">
      <areaCodes>
        <clear />
        <add areaCode="0123" />
      </areaCodes>
    </DutchPhoneNumberValidator>
  </Enkoni.Validators.TestCase02>
      
  <Enkoni.Validators.TestCase03>
    <DutchPhoneNumberValidator allowCountryCallingCode="false" allowCarrierPreselect="false">
      <areaCodes>
        <remove areaCode="058" />
      </areaCodes>
    </DutchPhoneNumberValidator>
  </Enkoni.Validators.TestCase03>
    
  <Enkoni.Validators.TestCase04>
    <DutchPhoneNumberValidator allowCountryCallingCode="false" allowCarrierPreselect="false">
      <areaCodes>
        <remove areaCode="058" />
      </areaCodes>
    </DutchPhoneNumberValidator>
    <DutchPhoneNumberValidator name="TestValidator" allowCountryCallingCode="true" allowCarrierPreselect="true">
      <areaCodes>
        <clear />
        <add areaCode="0123" />
      </areaCodes>
    </DutchPhoneNumberValidator>
  </Enkoni.Validators.TestCase04>

  <Enkoni.Validators.TestCase05>
    <EmailValidator />
    <EmailValidator name="Custom Validator">
      <includeDomains>
        <domain pattern="microsoft.com"/>
      </includeDomains>
    </EmailValidator>
  </Enkoni.Validators.TestCase05>

  <Enkoni.Validators.TestCase06>
    <EmailValidator allowIPAddresses="true">
      <includeDomains>
        <domain pattern="microsoft.com" />
        <domain pattern="*brouwer.nl" />
      </includeDomains>
      <excludeDomains>
        <domain pattern="gmail.com" />
        <domain pattern="*yahoo.com" />                
      </excludeDomains>
    </EmailValidator>
  </Enkoni.Validators.TestCase06>

  <Enkoni.Validators.TestCase07>
    <EmailValidator allowComments="false" allowIPAddresses="false">
      <includeDomains>
        <domain pattern="gmail.com" />
      </includeDomains>
    </EmailValidator>
    <EmailValidator name="TestValidator" allowComments="true" allowIPAddresses="true">
      <excludeDomains>
        <domain pattern="yahoo.com" />
      </excludeDomains>
    </EmailValidator>
  </Enkoni.Validators.TestCase07>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Interception" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.Unity.Configuration" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.1.505.0" newVersion="2.1.505.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>