<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="system.data.localdb" type="System.Data.LocalDBConfigurationSection,System.Data,Version=4.0.0.0,Culture=neutral,PublicKeyToken=b77a5c561934e089"/>
    <section name="Enkoni.DataAnnotations" type="Enkoni.Framework.DataAnnotations.Configuration.ValidationSection, Enkoni.Framework.DataAnnotations"/>
    <section name="Enkoni.DataAnnotations.TestCase02" type="Enkoni.Framework.DataAnnotations.Configuration.ValidationSection, Enkoni.Framework.DataAnnotations"/>
    <section name="Enkoni.DataAnnotations.TestCase03" type="Enkoni.Framework.DataAnnotations.Configuration.ValidationSection, Enkoni.Framework.DataAnnotations"/>
    <section name="Enkoni.DataAnnotations.TestCase04" type="Enkoni.Framework.DataAnnotations.Configuration.ValidationSection, Enkoni.Framework.DataAnnotations"/>
    <section name="Enkoni.DataAnnotations.TestCase05" type="Enkoni.Framework.DataAnnotations.Configuration.ValidationSection, Enkoni.Framework.DataAnnotations"/>
    <section name="Enkoni.DataAnnotations.TestCase06" type="Enkoni.Framework.DataAnnotations.Configuration.ValidationSection, Enkoni.Framework.DataAnnotations"/>
    <section name="Enkoni.DataAnnotations.TestCase07" type="Enkoni.Framework.DataAnnotations.Configuration.ValidationSection, Enkoni.Framework.DataAnnotations"/>
    <section name="Enkoni.DataAnnotations.TestCase08" type="Enkoni.Framework.DataAnnotations.Configuration.ValidationSection, Enkoni.Framework.DataAnnotations"/>
  </configSections>

  <system.data.localdb>
    <localdbinstances>
      <add name="v11.0" version="11.0" />
    </localdbinstances>
  </system.data.localdb>
        
  <Enkoni.DataAnnotations>
    <DutchPhoneNumberValidation>
      <areaCodes>
        <clear/>
        <add areaCode="010" />
        <add areaCode="020" />
        <add areaCode="058" />
        <remove areaCode="020" />
        <add areaCode="0519" />
      </areaCodes>
    </DutchPhoneNumberValidation>
    <DutchPhoneNumberValidation name="Custom Validator">
      <areaCodes>
        <remove areaCode="058" />
      </areaCodes>
    </DutchPhoneNumberValidation>
    <EmailValidation>
      <excludeDomains>
        <domain pattern="*.baddomain.org" />
        <domain pattern="168.1.*" />
      </excludeDomains>
    </EmailValidation>
    <EmailValidation name="Custom Validator" allowComments="true" allowIPAddresses="true">
      <includeDomains>
        <domain pattern="127.251.*" />
      </includeDomains>
    </EmailValidation>
  </Enkoni.DataAnnotations>

  <Enkoni.DataAnnotations.TestCase02>
    <DutchPhoneNumberValidation allowCountryCallingCode="false" allowCarrierPreselect="true">
      <areaCodes>
        <add areaCode="0123" />
      </areaCodes>
    </DutchPhoneNumberValidation>
  </Enkoni.DataAnnotations.TestCase02>

  <Enkoni.DataAnnotations.TestCase03>
    <DutchPhoneNumberValidation allowCountryCallingCode="true">
      <areaCodes>
        <clear />
        <add areaCode="0123" />
      </areaCodes>
    </DutchPhoneNumberValidation>
  </Enkoni.DataAnnotations.TestCase03>

  <Enkoni.DataAnnotations.TestCase04>
    <DutchPhoneNumberValidation allowCountryCallingCode="false" allowCarrierPreselect="false">
      <areaCodes>
        <remove areaCode="058" />
      </areaCodes>
    </DutchPhoneNumberValidation>
  </Enkoni.DataAnnotations.TestCase04>

  <Enkoni.DataAnnotations.TestCase05>
    <DutchPhoneNumberValidation allowCountryCallingCode="false" allowCarrierPreselect="false">
      <areaCodes>
        <remove areaCode="058" />
      </areaCodes>
    </DutchPhoneNumberValidation>
    <DutchPhoneNumberValidation name="TestValidator" allowCountryCallingCode="true" allowCarrierPreselect="true">
      <areaCodes>
        <clear />
        <add areaCode="0123" />
      </areaCodes>
    </DutchPhoneNumberValidation>
  </Enkoni.DataAnnotations.TestCase05>

  <Enkoni.DataAnnotations.TestCase06>
    <EmailValidation />
    <EmailValidation name="Custom Validator">
      <includeDomains>
        <domain pattern="microsoft.com"/>
      </includeDomains>
    </EmailValidation>
  </Enkoni.DataAnnotations.TestCase06>

  <Enkoni.DataAnnotations.TestCase07>
    <EmailValidation allowIPAddresses="true">
      <includeDomains>
        <domain pattern="microsoft.com" />
        <domain pattern="*brouwer.nl" />
      </includeDomains>
      <excludeDomains>
        <domain pattern="gmail.com" />
        <domain pattern="*yahoo.com" />                
      </excludeDomains>
    </EmailValidation>
  </Enkoni.DataAnnotations.TestCase07>

  <Enkoni.DataAnnotations.TestCase08>
    <EmailValidation allowComments="false" allowIPAddresses="false">
      <includeDomains>
        <domain pattern="gmail.com" />
      </includeDomains>
    </EmailValidation>
    <EmailValidation name="TestValidator" allowComments="true" allowIPAddresses="true" requireTopLevelDomain="true">
      <excludeDomains>
        <domain pattern="yahoo.com" />
      </excludeDomains>
    </EmailValidation>
  </Enkoni.DataAnnotations.TestCase08>
</configuration>